<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}"><img src="https://img.shields.io/badge/{{ site.email }}-FF0?logo=gmail" alt="gmail" ></a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        
      </div>

      <div class="footer-col  footer-col-3">
 
        <p><a href="https://marmits.github.io"><img alt="Job" src="https://img.shields.io/badge/dynamic/json?url=https%3A%2F%2Fgs.marmits.com%2Fresume.json&query=basics.label&label=Job" /></a></p>
        {% if site.codeurweb_url %}
          <p><a href="{{ site.url }}/{{ site.jsonresume_url }}" target="_blank"><img alt="CV / RESUME/ Geoffroy Stolaric" src="https://img.shields.io/website?url=https%3A%2F%2Fgs.marmits.com&label=cv" /></a></p>
          {% endif %}
        {% if site.github_username %}
          <p><a href="https://github.com/{{ site.github_username }}" target="_blank"><img src="https://img.shields.io/badge/{{ site.github_username }}-grey?logo=github" alt="Github Marmits" /></a></p>
        {% endif %}
        {% if site.linkedin_username %}
          <p><a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank"><img src="https://img.shields.io/badge/{{ site.linkedin_username }}-grey?logo=linkedin" alt="Linkedin Marmits" /></a></p>
        {% endif %}
        {% if site.twitter_username %}
          <p><a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><img src="https://img.shields.io/badge/{{ site.twitter_username }}-grey?logo=x" alt="X Marmits" /></a></p>
        {% endif %}
        <p><a href="https://marmits.com/wiki" target="_blank"><img src="https://img.shields.io/badge/wiki-grey?logo=wikipedia" alt="Wiki Marmits" /></a></p>
      </div>

      <div class="footer-col footer-date">

       <p><img src="https://img.shields.io/badge/Reims-grey?logo=googlemaps" alt="Reims" ></p>
        <!-- p>1998 - {{ 'now' | date: "%Y" }}</p-->
        <p><img src="https://img.shields.io/badge/1998-{{ 'now' | date: '%Y' }}-FF0" alt="{{ 'now' | date: '%Y' }}" ></p>
      </div>

    </div>

  </div>

</footer>
